html{
    background-image: url(../img/vincentQEPD.jpg);
}
div.bordeado{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #6283C8;
    padding: 35px;
    width: 1580px;
    height: 720px;
    margin: 60px auto ;
}

div.container{
    display: flex;
}
div.tite{
    text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   left: auto;
   position: relative;
}

div.tite h1{
    font-size: 20px;
    color:#2B41A7;
    font-family: 'Times New Roman';
}

div.tex{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    text-align: left;
   display: flex;
   justify-content: right;
   align-items: right;
   left: auto;
   position: relative;
    width: 632px;
    height: 350px;
}

div.tex p{
    font-size: 20px;
    color:#2B41A7 ;
}

div.querido{
    padding: auto;
    right: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    position: relative;
    width: 700px;
    height: 450px;
    left: 20px;
}

div.querido img{
    width: 700px;
    height: 450px;
    
}